Name,Email,Accepted,Feedback
Louis Ingle,li554@york.ac.uk,N,"Lost character over time/confidence over time. Really quick, gives good offers. Reduced stage presence. Knows the foundations. Like to see leading of a scene. Good at justifying. Sometimes fights for the funniest line"
Tobi Meadows,tm940@york.ac.uk,N,Nervous stage presence. Tendency to go weird.  Needs to commit more. Doesn't fully define the scene. Rarely plays a high energy character. Good puns in shopping channels but needs to time delivery
Kieran Cockburn,kc1104@york.ac.uk,N,"Looked at phone for rhyming. Loud, always drives scenes. Able to sense subtleness in scenes. One the same wavelength with KD. Corpsing. High energy, variety of characters. More contreversial. Wants all the attention. Good understanding of ERCER"
Kieran Dawson,kd867@york.ac.uk,N,"Played himself. Kept breaking 4th wall. Two voices, neutral and questioning. Good understanding of where a scene should go. Self aware on stage. Can find game of the scene. Good comic mind. Hyperaware and never immerses himself in scenes. Can do accents but chooses not to. Be someone else in the scene. Controversial"
Marie Colahan,mcac501@york.ac.uk,N,"Didn't tell a single joke. High energy, good actor. Confident, watchable. Doesn't push the scene forward enough. Actions weren't complementing the scene in mirrors - listening."
James Heritage,jsh543@york.ac.uk,N,"Block in follow the leaver. Doesn't listen, talking over people. Senseless with physicality, hands in pockets. Had some funny lines. Not nervous"
George Sherlaw-Johnson,gsj504@york.ac.uk,N,"Wants to subvert every game. Breaks 4th wall constantly. Funny, good lines. Doesn't trust scene partners. Blocks for the sake of the story he wants to tell. Improving stage presence. Played a variety of characters. Can lead but can't support. Lacks respect for scene partners"
